<!DOCTYPE html>
<html ng-app="myNinjaApp">
  <head>
    <base href="/"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Angular JS Tutorial</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="content/css/styles.css" />
    <script src="app/lib/angularjs.min.js"></script>
    <script src="app/lib/angular-route.min.js"></script>
    <script src="app/lib/angular-animate.min.js"></script>
    <script src="app/app.js"></script>
  </head>

  <body>
    <!--<ng-include src="'header.html'"></ng-include>-->
    <header ng-include="'header.html'"></header>
    <main ng-view></main>
    
    <!--<input
      type="text"
      ng-model="favMeal"
      placeholder="Enter your favourite meal"
    />
    <p>Your favorite meal is {{favMeal}}</p>
    <p>Outside Ninja Controller</p>
    <ul>
      <li ng-repeat="ninja in ninjas">{{ninja}}</li>
    </ul>
    <p>From Ninja Controller</p>-->
    
    <script src="" async defer></script>
  </body>
</html>
